.logo-text {
  font-family: 'Tiny5', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #ff4500; 
}

.sidebar-text {
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  color: #fff;
}

/* .sidebar-hover {
  color: #ff8c6f2c;
} */

.hover-bg-color {
  background-color: #ff8c6f2c;
}

.hover-text-color {
  color: #ff4500;
}

.active-link {
  background-color: #ff8c6f2c;
  color: #ff4500;
}

.active-link .fa-icon {
  color: var(--hover-text-color); 
}
